
RahnLoggingLoginModule {
	de.rahn.security.jaas.modules.LoggingLoginModule required debug=true name=Klaus;
};

UserPasswordLoginModule {
	de.rahn.security.jaas.modules.LoggingLoginModule optional position=first;
	de.rahn.security.jaas.modules.UserPasswordConfigLoginModule required user=tdb password=xxx;
	de.rahn.security.jaas.modules.LoggingLoginModule optional position=last;
};
