
RahnLoggingLoginModules {
	de.rahn.security.jaas.modules.LoggingLoginModule required debug=true name=Klaus;
};

UserPasswordLoginModules {
	de.rahn.security.jaas.modules.LoggingLoginModule optional position=first;
	de.rahn.security.jaas.modules.UserPasswordConfigLoginModule required user=tdb password=xxx;
	de.rahn.security.jaas.modules.LoggingLoginModule optional position=last;
};

UserPasswordRolesModules {
	de.rahn.security.jaas.modules.UserPasswordConfigVerifyModule requisite userid=tdb password=xxx;
	de.rahn.security.jaas.modules.RolesConfigVerifyModule optional role=web;
	de.rahn.security.jaas.modules.UserPasswordRolesVerifyModule sufficient;
};
